 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/national-cancer-institute-L7en7Lb-Ovc-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1301px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 100;
  width: 570px;
  margin: 85px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 13px 54px 0;
}

.u-section-1 .u-accordion-1 {
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-1 .u-accordion-link-1 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-2 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-3 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-4 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-5 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-accordion-item-6 {
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-6 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-accordion-item-7 {
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-7 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-accordion-item-8 {
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-8 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-accordion-item-9 {
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-9 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-accordion-link-10 {
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-10 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 150px;
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-accordion-1 {
    margin-bottom: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 51px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1786px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.9375rem;
    width: 269px;
    margin-top: 110px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 40px;
  }
}